@import url("https://fonts.googleapis.com/css2?family=Aleo:wght@400;500;600;700;800;900&family=Cormorant+SC:wght@400;600&family=Gloock&display=swap");
p {
  margin: 0;
}
#root {
  margin: 0;
  font-family: "Aleo", serif;
}

/* .logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
} */

/* @keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
/* 
@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
} */

/* .card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
.wrapper {
  display: grid;
  grid-template-columns: 1fr minmax(0px, 768px) 1fr;
  grid-template-rows: 92px auto 1fr 70px;
  grid-template-areas:
    "header header header"
    ". main ."
    "footer footer footer";
}
.header {
  grid-area: header;
  display: grid;
  grid-template-columns: 1fr 360px 1fr;
  grid-template-areas: "logo search toggle";
  align-items: center;
  font-family: "Gloock", serif;
}
.logo {
  grid-area: logo;
  padding-left: 35px;
  font-size: 32px;
  justify-self: center;
}
.search {
  grid-area: search;
  justify-self: center;
  display: flex;
  align-items: center;
  height: 25px;
  gap: 10px;
}
.submit {
  padding: 5px 10px;
  color: white;
  height: 30px;
  margin-left: 15px;
  font-size: 16px;
}
.settings {
  grid-area: toggle;
  justify-self: end;
  padding-right: 35px;
  justify-self: center;
}
.toggle {
  font-weight: 700;
  margin-left: 8px;
  transition: all 0.3s;
  cursor: pointer;
  font-size: 18px;
  padding: 4px 16px;
  height: 40px;
  border-radius: 20px;
  color: var(--white);
}
.main-container {
  grid-area: main;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: repeat(3, minmax(min-content, max-content));
  grid-template-areas:
    "title title"
    "weather details"
    "daily daily";
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  row-gap: 30px;
  column-gap: 30px;
}
.title {
  grid-area: title;
  font-size: 42px;
}
.current-data {
  grid-area: weather;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0;
  font-size: 24px;
  font-weight: 600;
}
.current-data p {
  margin: 0;
}
.details-container {
  grid-area: details;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  font-size: 18px;
  font-weight: 600;
}
.condition-detail {
  text-align: center;
  font-size: 20px;
}
.daily-container {
  grid-area: daily;
  width: 530px;
  max-width: 530px;
  justify-self: center;
}
.daily {
  border-bottom: 1px solid grey;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  gap: 20px;
  width: 100%;
  font-size: 20px;
}
.days {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 35px;
  width: 100%;
}
.details {
  border-bottom: 1px solid grey;
  align-self: center;
  padding: 10px;
}
.daily-temps {
  gap: 20px;
}
.logo-temp {
  display: flex;
  align-items: center;
  gap: 10px;
}
.detail-data {
  font-size: 22px;
}
.forecast-title {
  font-size: 22px;
  font-weight: 600;
}
.search-bar {
  border-radius: 20px;
  border-style: double;
  padding: 2px 5px;
}
.image-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1250px) {
  .wrapper {
    display: flex;
    flex-direction: column;
  }
  .header {
    grid-area: header;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  .main-container {
    display: flex;
    flex-direction: column;
    max-width: 370px;
    margin: 0 auto;
    padding: 2px;
    text-align: center;
    row-gap: 20px;
    column-gap: 30px;
  }
  .condition-detail {
    display: none;
  }
  .details-container {
    grid-area: details;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .details {
    padding: 5px;
  }
  .daily {
    border-bottom: 1px solid grey;
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
    padding: 5px;
    justify-content: space-around;
  }
  .daily-container {
    grid-area: daily;
    max-width: 100%;
  }
  .current-data {
    align-items: center;
  }
  .settings {
    grid-area: toggle;
    justify-self: end;
    padding-right: 0px;
  }
  .logo {
    display: none;
  }
  .search {
    grid-area: search;
    justify-self: center;
    display: flex;
    align-items: center;
    height: 25px;
    gap: 10px;
    margin-top: 25px;
    margin-bottom: 20px;
  }
}
